*{
	font-family: "Roboto", sans-serif;
}
h1, h2{
	font-family: "Montserrat", sans-serif;
}

img{
	height: 250px;
	width: 250px;
}
/**id -seleector - #idName*/
/*#landing {
	/*vh - viewport height - measurement based on the height of the
	webpage and the device you're currently viewing the page in*/
	height: 80vh;
	/*we can manipulate the contents of an element using flexbox*/
	/*by default, arranges the content of an element in a row*/
	display: flex;
	/*arrange the contents of an element with flex, as a column*/
	/*flex-direction: column;
	/*center all contents of an element with flex as a column (horizontally*/
	/*align-items: center;
	/*center all contents of an element with flex as a column (vertically)*/
	/*justify-content: center; */

#gallery {
	/*vh - viewport height - measurement based on the height of the
	webpage and the device you're currently viewing the page in*/
	height: 75vh;
	/*we can manipulate the contents of an element using flexbox*/
	/*by default, arranges the content of an element in a row*/
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

ul {
	list-style: none;
	padding: 0;
}


h2 {
	/*hex decimal can be added as a value for color, this will 
	allow us to specify a particular color*/
	color: #007bff;
}
/*class selector - .classname*/
.tools {
	border: 5px solid #f2f2f2;
	padding: 50px;
	margin:  20px;
	height:	2200px;
	/*width of this element is at least 75% of its parent element
	or the element that contains*/
	width: 75%;
}

html {
	scroll-behavior: smooth;
}